body {
  background-color: darkgreen;
}
#main {
  display: flex;
  flex-flow: column;
  height: 100vh;
}
#playArea {
  position: relative;
  display: flex;
  height: 100%;
}
#playerInfoBox {
  flex: 0 1 100px;
  margin-top: auto;
  background-color: lightgreen;
}
#playerLeft {
  position: absolute;
  left: 20px;
  top: 50%;
  bottom: 50%;
}
#playerTop {
  position: absolute;
  top: 20px;
  left: 50%;
  right: 50%;
}
#playerRight {
  position: absolute;
  right: 20px;
  top: 50%;
  bottom: 50%;
}
#playerBottom {
  position: absolute;
  bottom: 20px;
  left: 50%;
  right: 50%;
}
.hand {
  margin-top: auto;
  width: fit-content;
  align-self: center;
  height: 10em;
}
.card {
  /* card format in real life is 10:5,6, but the graphics don't really match,
    hence 5.5 */
  width: 5.5em;
  height: 10em;
  border-radius: 0.5em;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}

/* prettier-ignore */
.card[suit="eichel"][rank="7"]      { background-image: url('/assets/deck/withDesign/eichel-7.svg'); }
/* prettier-ignore */
.card[suit="eichel"][rank="8"]      { background-image: url('/assets/deck/withDesign/eichel-8.svg'); }
/* prettier-ignore */
.card[suit="eichel"][rank="9"]      { background-image: url('/assets/deck/withDesign/eichel-9.svg'); }
/* prettier-ignore */
.card[suit="eichel"][rank="10"]     { background-image: url('/assets/deck/withDesign/eichel-10.svg'); }
/* prettier-ignore */
.card[suit="eichel"][rank="unter"]  { background-image: url('/assets/deck/withDesign/eichel-unter.svg'); }
/* prettier-ignore */
.card[suit="eichel"][rank="ober"]   { background-image: url('/assets/deck/withDesign/eichel-ober.svg'); }
/* prettier-ignore */
.card[suit="eichel"][rank="könig"]  { background-image: url('/assets/deck/withDesign/eichel-könig.svg'); }
/* prettier-ignore */
.card[suit="eichel"][rank="sau"]    { background-image: url('/assets/deck/withDesign/eichel-sau.svg'); }
/* prettier-ignore */
.card[suit="gras"][rank="7"]        { background-image: url('/assets/deck/withDesign/gras-7.svg'); }
/* prettier-ignore */
.card[suit="gras"][rank="8"]        { background-image: url('/assets/deck/withDesign/gras-8.svg'); }
/* prettier-ignore */
.card[suit="gras"][rank="9"]        { background-image: url('/assets/deck/withDesign/gras-9.svg'); }
/* prettier-ignore */
.card[suit="gras"][rank="10"]       { background-image: url('/assets/deck/withDesign/gras-10.svg'); }
/* prettier-ignore */
.card[suit="gras"][rank="unter"]    { background-image: url('/assets/deck/withDesign/gras-unter.svg'); }
/* prettier-ignore */
.card[suit="gras"][rank="ober"]     { background-image: url('/assets/deck/withDesign/gras-ober.svg'); }
/* prettier-ignore */
.card[suit="gras"][rank="könig"]    { background-image: url('/assets/deck/withDesign/gras-könig.svg'); }
/* prettier-ignore */
.card[suit="gras"][rank="sau"]      { background-image: url('/assets/deck/withDesign/gras-sau.svg'); }
/* prettier-ignore */
.card[suit="herz"][rank="7"]        { background-image: url('/assets/deck/withDesign/herz-7.svg'); }
/* prettier-ignore */
.card[suit="herz"][rank="8"]        { background-image: url('/assets/deck/withDesign/herz-8.svg'); }
/* prettier-ignore */
.card[suit="herz"][rank="9"]        { background-image: url('/assets/deck/withDesign/herz-9.svg'); }
/* prettier-ignore */
.card[suit="herz"][rank="10"]       { background-image: url('/assets/deck/withDesign/herz-10.svg'); }
/* prettier-ignore */
.card[suit="herz"][rank="unter"]    { background-image: url('/assets/deck/withDesign/herz-unter.svg'); }
/* prettier-ignore */
.card[suit="herz"][rank="ober"]     { background-image: url('/assets/deck/withDesign/herz-ober.svg'); }
/* prettier-ignore */
.card[suit="herz"][rank="könig"]    { background-image: url('/assets/deck/withDesign/herz-könig.svg'); }
/* prettier-ignore */
.card[suit="herz"][rank="sau"]      { background-image: url('/assets/deck/withDesign/herz-sau.svg'); }
/* prettier-ignore */
.card[suit="schelln"][rank="7"]     { background-image: url('/assets/deck/withDesign/schelln-7.svg'); }
/* prettier-ignore */
.card[suit="schelln"][rank="8"]     { background-image: url('/assets/deck/withDesign/schelln-8.svg'); }
/* prettier-ignore */
.card[suit="schelln"][rank="9"]     { background-image: url('/assets/deck/withDesign/schelln-9.svg'); }
/* prettier-ignore */
.card[suit="schelln"][rank="10"]    { background-image: url('/assets/deck/withDesign/schelln-10.svg'); }
/* prettier-ignore */
.card[suit="schelln"][rank="unter"] { background-image: url('/assets/deck/withDesign/schelln-unter.svg'); }
/* prettier-ignore */
.card[suit="schelln"][rank="ober"]  { background-image: url('/assets/deck/withDesign/schelln-ober.svg'); }
/* prettier-ignore */
.card[suit="schelln"][rank="könig"] { background-image: url('/assets/deck/withDesign/schelln-könig.svg'); }
/* prettier-ignore */
.card[suit="schelln"][rank="sau"]   { background-image: url('/assets/deck/withDesign/schelln-sau.svg'); }
#log {
  color: cyan;
  font-family: 'Courier New';
  position: absolute;
  bottom: 0px;
}
